@font-face {
  font-family: "InnerIcons";
  src: url("assets/fonts/TimeUpIcons-regular.otf");
  font-weight: 500;
}

@font-face {
  font-family: "InnerIcons";
  src: url("assets/fonts/TimeUpIcons-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Icons";
  src: url("assets/fonts/TimeUpIcons.ttf");
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0fd6;
  background-color: #f6f6f66d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  user-select: none;
  --autocolormode: true;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}

audio {
  display: none;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
}

.container {
  max-height: calc(height - 96px);
  max-width: calc(100% - 48px);
  margin-inline: 8px;
  user-select: none;
}

.row {
  display: flex;
  justify-content: center;
}

ol {
  appearance: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li:hover {
  background-color: #0f0f0f1d;
}

button {
  font-size: 1em;
  padding: 8px 16px;
  border-radius: 9px;
  appearance: none;
  outline: none;
  border: #0f0f0f0d;
  background-color: transparent;
  transition: background-color 0.16s
}

button:disabled {
  pointer-events: none;
  color: #0f0f0f5d;
}

button:hover {
  background-color: #0f0f0f0d;
}

button.active {
  color: #f6f6f6d6;
  background-color: #396cd8;
  pointer-events: none;
}

.flex-space {
  flex-grow: 1;
}

.notification-background {
  opacity: 0;
  position: absolute;
  z-index: 11;
  pointer-events: none;
  align-self: center;
  justify-self: center;
  height: 100%;
  width: 100%;
  background-color: #396cd8;
  clip-path: circle(0 at 50% 50%);
  transition: opacity 0.25s, clip-path 0.25s;
}

.notification-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 12;
  inset-block: 40px 0;
  width: 100%;
  clip-path: circle(0 at 50% 50%);
  transition: opacity 0.25s, clip-path 0.25s;
}

.notification-content>div {
  position: absolute;
  inset-block: 40px 0;
  width: 100%;
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.notifi-animation {
  animation: rotate 1s infinite;
  animation-timing-function: cubic-bezier(0, 0.25, 0.25, 2);
  transform-origin: 50% 53%;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0);
  }

  70% {
    transform: rotateZ(0);
  }

  75% {
    transform: rotateZ(15deg);
  }

  85% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(0);
  }
}

.notification-text {
  font-size: 1.2em;
  color: #f6f6f6d6;
}

.notification-button {
  cursor: pointer;
  margin-top: 8px;
  color: #f6f6f6d6;
  font-size: 1.3em;
  border-radius: 20px;
  padding: 8px 32px;
  transition: background-color 0.2s, box-shadow 0.25s;
  background-color: #fff2;
}

.notification-button:hover {
  background-color: #fff3;
  box-shadow: 0 2px 8px 0 #1530692f;
}

.notification-button:active {
  background-color: #fff4;
}

.titlebar {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}

.titlebar-title {
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  align-self: center;
  top: 12px;
  display: block;
  justify-content: flex-start;
  position: fixed;
  left: 16px;
  margin: -4px -8px;
  padding: 4px 8px;
  border-radius: 5px;
  transition: background-color 0.16s;
}

.titlebar-title:hover {
  background-color: #0f0f0f0d;
}

.titlebar-title:active {
  background-color: #0f0f0f16;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  transition: background-color 0.2s;
}

.titlebar-closebutton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  transition: background-color 0.2s;
}

.titlebar-button:hover {
  background: #0f0f0f0d;
}

.titlebar-button:active {
  background: #0f0f0f16;
}

.titlebar-closebutton:hover {
  color: white;
  background: red;
}

.titlebar-closebutton:active {
  color: white;
  background: lightcoral;
}

.toolbar {
  font-size: 1.6em;
  font-family: "InnerIcons", sans-serif;
  display: inline-flex;
  padding: 8px;
  position: absolute;
  bottom: 0;
}

.toolbar-item {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  transition: background-color 0.2s;
}

.toolbar-item:hover {
  background-color: #0f0f0f10;
}

.toolbar-item:active {
  background-color: #0f0f0f1d;
}

.text {
  line-height: 50%;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.icons {
  line-height: 50%;
  font-size: 1em;
  font-weight: 500;
  font-family: "InnerIcons";
  transition: opacity 0.25s, filter 0.25s;
}

.card {
  border-radius: 12px;
  background-color: #f6f6f66d;
  box-shadow: 0 2px 4px 0 #0f2f4f2d;
  padding: 16px;
}

.card.solidback {
  background-color: #f6f6f6;
}

.button-flat {
  outline-offset: 4px;
  padding: 16px;
  border-radius: 8px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-flat:hover {
  background-color: white;
}

.button-flat:active {
  background-color: #0001;
}

.button-round {
  cursor: pointer;
  outline-offset: 4px;
  padding: 16px;
  border-radius: 50%;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-round:hover {
  background-color: #bbb4;
}

.button-round:active {
  background-color: #aaa6;
}

.page {
  position: absolute;
  inset-inline: 8px;
  inset-block: 48px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s cubic-bezier(0, 0.6, 0.4, 1);
  border-radius: 12px;
  overflow-y: scroll;
}

.inputBox {
  width: calc(100% - 46px);
  border-radius: 8px;
  margin: 8px;
  padding-inline: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  text-overflow: ellipsis;
  color: #0f0f0f;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px gray;
  height: 32px;
  background-color: transparent;
  transition: opacity 0.25s, filter 0.25s, background-color 0.15s, box-shadow 0.2s, padding-inline 0.2s;
}

.inputBox:focus {
  box-shadow: 0 0 0 4px #396cd8;
  background-color: white;
}

.inputBox:disabled {
  pointer-events: none;
  padding: 0;
  box-shadow: none;
}

.list {
  border-radius: 12px;
  background-color: #f6f6f66d;
  padding: 0;
  margin: auto;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 4;
  padding: 2px;
  padding-left: 12px;
  border-radius: 12px;
  width: auto;
  height: 40px;
  background-color: transparent;
  font-size: 1.1em;
  overflow: hidden;
  filter: blur(8px);
  opacity: 0;
  transform: scale(0.8);
  transition: background-color 0.2s, transform 0.25s, opacity 0.25s, filter 0.25s;
}

.list-item:hover {
  background-color: #f6f6f6ff;
}

input::-webkit-outer-spin-button {
  appearance: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
}

.clock {
  border-radius: 12px;
  padding: 16px;
  background-color: #f6f6f66d;
  box-shadow: 0 2px 4px 0 #0f2f4f2d;
  display: inline-flex;
}

.clock-input {
  width: 56px;
  font-size: 3em;
  font-weight: 500;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  transition: transform 0.2s;
  background-color: transparent;
}

.clock-input:hover {
  color: #396cd8;
}

.clock-input:focus {
  color: #396cd8;
  background-color: #e8ecf5;
}

.clock-input:disabled {
  pointer-events: none;
}

/* Dark Mode */

.dark button {
  color: #f6f6f6d6;
}

.dark button:disabled {
  color: #f6f6f63d;
}

.dark button:hover {
  background-color: #f6f6f60d;
}

.dark button:active {
  background-color: #f6f6f616;
}

.dark .titlebar-title:hover {
  background-color: #f6f6f60d;
}

.dark .titlebar-title:active {
  background-color: #f6f6f616;
}

.dark .titlebar-button:hover {
  background-color: #f6f6f606;
}

.dark .titlebar-button:active {
  background-color: #f6f6f610;
}

.dark .titlebar-closebutton:active {
  background-color: darkred;
}

.dark .toolbar-item:hover {
  background-color: #f6f6f606;
}

.dark .toolbar-item:active {
  background-color: #f6f6f610;
}

.dark .inputBox {
  color: #f6f6f6d6;
}

.dark .inputBox:focus {
  background-color: #0f0f0f98;
}

.dark .card {
  background-color: #f6f6f610;
  box-shadow: 0 2px 4px 0 #0002;
}

.dark .card.solidback {
  background-color: #2e2e2e;
}

.dark .button-flat:hover {
  background-color: #DEF1;
}

.dark .button-flat:active {
  background-color: #DEF2;
}

.dark .button-round:hover {
  background-color: #4444;
}

.dark .button-round:active {
  background-color: #4e4e4e66;
}

.dark .list {
  background-color: #f6f6f610;
}

.dark .list-item:hover {
  background-color: #f6f6f610;
}

.dark .clock {
  background-color: #f6f6f610;
  box-shadow: 0 2px 4px 0 #0002;
}

.dark .clock-input {
  color: #f6f6f6d6;
}

.dark .clock-input:focus {
  background-color: #1b212e;
}